@import '../../index';

.results {
  transition: visibility .5s, opacity .5s;
  &-content {
    p {
      font-family: 'Roboto';
    }

    &-share {
      margin-bottom: 1rem;
      button {
        width: 3rem;
        height: 3rem;
        box-shadow: none !important;

        svg {
          border-radius: 1rem;
        }
      }
    }
  }

  h2 {
    text-align: center;
  }
}