@import '../../index';

.score {
  position: absolute;
  top: 0;
  left: 0;
  background: transparentize($purple1, 0.25);
  color: white;
  display: flex;
  flex-direction: row;
  // width: 15rem;
  justify-content: space-between;

  p {
    margin: .5rem 1rem !important;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .score {
    width: 100%;
  }
}