@import '../../index';

.instructions {
  transition: visibility .5s, opacity .5s;

  &-content {

    .difficulty {
      h3 {
        text-align: center;
      }
      &-options {
        display: flex;
        button {
          margin: .5rem;
        }
      }
    }

    .arrows {
      width: 15rem;
      height: 12rem;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    width: 3rem;
    height: 3rem;
    background: rgba(240, 240, 150, .5);
    border-radius: 50%;
  }
}
@media screen and (max-width: 600px) {
  .instructions {
    &-content {
      &.left, &.right {
        width: 100%;
        left: 50% !important;
      }
      &.left {
        top: 75% !important;
      }
      &.right {
        top: 25% !important;
      }
    }
  }
}