@import '../../index';

.app {
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;

    p, a {
      font-size: .75rem;
      color: white;
      text-decoration: none;
      padding: 1rem;
    }

    a {
      text-shadow: .75px 0 white;
      letter-spacing: 1.5px;;
      white-space: nowrap;
      padding-left: 0.5rem;
    }

    button {
      background: none;
      color: white;
      position: relative;
      padding-right: 2.5rem;
      border: none;
      box-shadow: none;
      font-size: .75rem;
      img {
        height: 2rem;
        position: absolute;
        right: 0;
        top: -.125rem;
        background: none;
      }
    }
  }
}