// TODO: clean up css in general

// $yellow1: rgb(206, 206, 16);
// $yellow2: rgb(179, 169, 27);
$yellow3: rgb(255, 218, 0);
$blue: rgb(14, 176, 179);
$dark-orange: #f56425;
$light-orange: rgb(255 84 53);
$gray: rgb(242, 242, 242);
$gray2: rgb(228, 228, 228);
$gray3: rgb(127, 127, 127);
$black: rgb(10, 10, 10);
$white: rgb(228, 255, 235);
$teal: rgb(8 136 25 / 25%);
$purple1: rgb(105, 14, 60);


@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/RobotoMono-Regular.ttf');
}
@font-face {
  font-family: 'Corn';
  src: url('./assets/fonts/CornDemo-Regular.ttf');
}

@keyframes pulse {
  0%   {   border: 2px solid $purple1; }
  50%  {   border: 2px solid lighten($purple1, 30%); }
  100% {   border: 2px solid $purple1;  }
}


html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'Corn';
  font-size: 12px;
  overscroll-behavior-x: none;
  background: darken($purple1, 20);
}

.app {
  position: absolute;
  inset: 0;

  h1, h2, h3, p { 
    margin: 0;
    padding: 1rem;
    // letter-spacing: .25rem;
  }

  h1 {
    letter-spacing: 1rem;
    text-shadow: 1px 0px white;
  }

  p {
    line-height: 1.75rem;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }

  .pulse {
    animation: pulse 1s infinite;
  }

  .instructionsToggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    padding: 0;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    transition: visibility .5s, opacity .5s;
  }

  button {
    cursor: pointer;
    padding: .5rem 1rem;
    background: $yellow3;
    border-radius: .5rem;
    font-family: 'Corn';
    font-size: 1rem;
    border: 2px solid $yellow3;
    color: $purple1;
    box-shadow: 0 0 5px 5px $teal;
    margin: 1rem;
    white-space: nowrap;

    img {
      position: absolute;
    }

    &.selected {
      background: lighten($yellow3, 20);
      border: 2px solid lighten($purple1, 20);
    }
  }

  .modal {
    position: absolute;
    inset: 0;
    pointer-events: none;
    
    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: left .75s, top .75s;
      width: 26rem;
      max-width: 100%;
      pointer-events: initial;
     
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      color: white;
      background: transparentize($purple1, 0.25);
      border: .5rem solid $purple1;
      border-radius: 1rem;
      padding: .5rem 1rem;
      box-shadow: 0 .5rem .25rem rgba(45, 12, 4, 0.5);

      &.left {
        left: 25%
      }
      &.right {
        left: 75%;
      }

      .graphic {
        position: absolute;
        width: 12rem;
        height: 12rem;
        top: -8rem;
        left: -4rem;
      }
    }
  }

  .numbers {
    font-family: 'Roboto';
    letter-spacing: .25rem;
    background: $gray;
    padding: 0 .25rem 0 .5rem;
    color: $black;
    border-radius: .3rem;
  }

  div[data-testid="joystick-base"] {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    background: darken($yellow3, 20) !important;

    button {
      // transition: transform .1s ease-in;
      background: $yellow3 !important;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .app {
    .instructionsToggle {
      top: 4rem;
    }
  }
}